{{&gt; organisms-header }}
{{&gt; organisms-section-map }}
{{&gt; organisms-error }}
{{&gt; organisms-in-progress }}
{{&gt; organisms-user-input-required }}
{{&gt; organisms-scheduled }}
&lt;a href=&quot;#&quot; class=&quot;download-as&quot;&gt;
	&lt;span class=&quot;glyphicon glyphicon-download&quot;&gt;&lt;/span&gt;
	&lt;span&gt;Download as CSV&lt;/span&gt;
&lt;/a&gt;