&lt;section class=&quot;error&quot;&gt;
	&lt;span class=&quot;glyphicon glyphicon-warning-sign pull-left&quot;&gt;&lt;/span&gt;
	&lt;h4&gt;Errors &lt;small&gt;(3 Articles)&lt;/small&gt;&lt;/h4&gt;
	{{&gt; atoms-article-snapshot-list }}
&lt;/section&gt;