&lt;section class=&quot;uir&quot;&gt;
    &lt;span class=&quot;glyphicon glyphicon-hand-down pull-left&quot;&gt;&lt;/span&gt;
    &lt;h4&gt;User Input Required &lt;small&gt;(2 Articles)&lt;/small&gt;&lt;br&gt;(Ready to Publish)&lt;/h4&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot;&gt;
      &lt;span class=&quot;glyphicon glyphicon-globe&quot;&gt;&lt;/span&gt;
      Publish All Selected
    &lt;/a&gt;
    {{&gt; atoms-article-snapshot-list-act }}
&lt;/section&gt;