&lt;section class=&quot;scheduled&quot;&gt;
    &lt;span class=&quot;glyphicon glyphicon-time pull-left&quot;&gt;&lt;/span&gt;
    &lt;h4&gt;Scheduled &lt;small&gt;(3 Articles)&lt;/small&gt;&lt;/h4&gt;
    {{&gt; atoms-article-snapshot-list-alt }}
&lt;/section&gt;