&lt;section class=&quot;in-progress&quot;&gt;
	&lt;span class=&quot;glyphicon glyphicon-cog pull-left&quot;&gt;&lt;/span&gt;
	&lt;h4&gt;In Progress &lt;small&gt;(2 Articles)&lt;/small&gt;&lt;/h4&gt;
	{{&gt; atoms-article-snapshot-list }}
&lt;/section&gt;