
&lt;ul class=&quot;nav nav-tabs&quot;&gt;
    &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Current&lt;/a&gt;&lt;/li&gt;
    &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Archive&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
